@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar-custom::-webkit-scrollbar {
    width: 6px; 
  }

  .scrollbar-custom::-webkit-scrollbar-thumb {
    background-color: white; 
    border-radius: 10px; 
  }

  .scrollbar-custom::-webkit-scrollbar-track {
    background: transparent; 
  }
}
